[Unit]
Description=TWIO Startup.sh Reboot Script

[Service]
ExecStart=/twio/scripts/startup.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
