DOMAIN=domain.example
ROOT_DIR=/example/root/directory
DEFAULT_SSL_EMAIL=admin@domain.example
PICO_COMPOSER_REPOSITORY=https://github.com/picocms/pico-composer
PICO_DATA_DIR=/example/folder
LOCAL_DATA_FOLDER=/example/folder
BORG_BACKUP_FOLDER=/exaple/backups/directory
