### === MANDATORY VALUES ===

## Domain name used with TWIO ecosystem. e.g. apps.domain.example, notes.domain.example, etc.
DOMAIN=domain.example

## Base directory for installation/operation of TWIO ecosystem
# Note: Absolute or Relative. Omit trailing forward-slashes "/" as shown in example below
ROOT_DIR=.

## If you have a data directory outside of the base directory, establish it here
DATA_DIR=${ROOT_DIR}/data

## Default email for SSL registration
DEFAULT_SSL_EMAIL=admin@domain.example

### === END MANDATORY VALUES ===

### === USER DATA & CUSTOMIZATION ===

## PicoCMS data directory. Default = $ROOT_DIR/apps/picocms/html
PICO_DATA_DIR=${DATA_DIR}/pico/

## BORG Backup directory. Default = $ROOT_DIR/backups
# BORG_BACKUP_FOLDER=

## PicoCMS composer repository. Default = https://github.com/picocms/pico-composer
#PICO_COMPOSER_REPOSITORY=

## Homer data directory. Default = ${ROOT_DIR}/apps/homer-dashboard/public/assets
HOMER_DATA_DIR=${DATA_DIR}/homer/

#DOKUWIKI_DATA_DIR=
DOKUWIKI_DATA_DIR=${DATA_DIR}/dokuwiki/data/

### === END USER DATA & CUSTOMIZATION ===
