### === MANDATORY VALUES ===

## Domain name used with TWIO ecosystem. e.g. apps.domain.example, notes.domain.example, etc.
DOMAIN=domain.example

## Base directory for installation/operation of TWIO ecosystem
# Note: Absolute or Relative. Omit trailing forward-slashes "/" as shown in example below
ROOT_DIR=.

## If you have a data directory outside of the base directory, establish it here
DATA_DIR=${ROOT_DIR}/data

## Default email for SSL registration
DEFAULT_SSL_EMAIL=admin@domain.example

### === END MANDATORY VALUES ===

### === USER DATA & CUSTOMIZATION ===

## PicoCMS data directory
PICO_DATA_DIR=${DATA_DIR}/pico/

## BORG Backup directory
BORG_BACKUP_FOLDER=${ROOT_DIR}/backups

## PicoCMS composer repository
PICO_COMPOSER_REPOSITORY=https://github.com/picocms/pico-composer

## Homer data directory
HOMER_DATA_DIR=${DATA_DIR}/homer/

#DOKUWIKI_DATA_DIR=
DOKUWIKI_DATA_DIR=${DATA_DIR}/dokuwiki/data/
DOKUWIKI_CONFIG_DIR=${DATA_DIR}/dokuwiki/config/

### === END USER DATA & CUSTOMIZATION ===
