#!/bin/bash
# Do no change this value, it is auto-populated by the init_backups script.
ROOT_DIR=ROOTDIRPLACEHOLDER

if ! [[ "$EUID" = 0 ]]
then
    echo "Please run script as root."
    exit 1
fi


# TODO - convert to twio ecosystem
FILE=${ROOT_DIR}/scripts/.env

if [ -f $FILE ]; then
  echo "Loading variables from $FILE"
  set -o allexport
  source $FILE
  set +o allexport
else
  echo "Please setup a .env file according to the README.md"
  exit 1
fi

cloud_deploy(){
  if [ -z ${RCLONE_REMOTE_NAME+x} ]
  then
    echo "No variable set for cloud deploy"
  else
    echo "Rclone syncing to remote..."
    sudo -u ${DEFAULT_USER} rclone sync ${ROOT_DIR}/backups ${RCLONE_REMOTE_NAME}
    if [[ $?==0 ]]; then echo "Cloud deployment successful"&&echo $(date)": Cloud deployment successful. Destination - ${RCLONE_REMOTE_NAME}" >> ${ROOT_DIR}/scripts/logs/backups.log; fi
  fi
}

clear_vars(){
  unset BACKUP_SERVICE
  unset BACKUP_DIRECTORIES
  unset BACKUP_DATABASE
}

borg_create(){
  echo
  echo "STAGING ${BACKUP_SERVICE} BACKUP"


  # Backup database if var is set
  if [ -z ${BACKUP_DATABASE+x} ]
  then
    :
  else
    echo "Backing up ${BACKUP_DATABASE} database."
    mkdir ${ROOT_DIR}/apps/${BACKUP_SERVICE}/database-backup
    docker exec -ti db mysqldump -u root -p4458920a5445a0af49c0be4eae0c93b252e77a65 ${BACKUP_DATABASE} > ${ROOT_DIR}/apps/${BACKUP_SERVICE}/database-backup/${BACKUP_SERVICE}.db
  fi


  archive_name="${BACKUP_SERVICE}-$(date +'%Y-%m-%d-%H%M')"
  borg_options="--stats --compression zlib"
  echo $(date)": ${BACKUP_SERVICE} - Creating ${ROOT_DIR}/backups/borg-${BACKUP_SERVICE}::${archive_name}" >> ${ROOT_DIR}/scripts/logs/backups.log

  # To do: Fix array input
  sudo -u ${DEFAULT_USER} BORG_PASSPHRASE=${BORG_PASS} borg create ${borg_options} ${ROOT_DIR}/backups/borg-${BACKUP_SERVICE}::${archive_name} "${BACKUP_DIRECTORIES[*]}"
  # sudo chown -R $USER:$USER ${ROOT_DIR}/backups/borg-${BACKUP_SERVICE}
  rm -rf ${ROOT_DIR}/apps/${BACKUP_SERVICE}/database-backup
  clear_vars
}

stage_nextcloud(){

  ## Per Nextcloud docs (https://docs.nextcloud.com/server/latest/admin_manual/maintenance/backup.html)

  BACKUP_SERVICE="nextcloud"
  BACKUP_DIRECTORIES=("${ROOT_DIR}/apps/${BACKUP_SERVICE}/")
  BACKUP_DATABASE="${BACKUP_SERVICE}"

  # Enable maintenance mode
  docker exec -ti --user www-data nextcloud php occ maintenance:mode --on

  # Specific to nextcloud & borg; need to setup permissions
  chown -R ${DEFAULT_USER} "${BACKUP_DIRECTORIES[*]}"

  borg_create

  # Repair permissions
  BACKUP_DIRECTORIES=("${ROOT_DIR}/apps/${BACKUP_SERVICE}/")
  chown -R www-data:root "${BACKUP_DIRECTORIES[*]}"

  clear_vars

  # Enable maintenance mode
  docker exec -ti --user www-data nextcloud php occ maintenance:mode --off

}

stage_dokuwiki(){
  BACKUP_SERVICE="dokuwiki"
  BACKUP_DIRECTORIES=("${DOKUWIKI_DATA_DIR}")
  BACKUP_DATABASE="${BACKUP_SERVICE}"
  borg_create
}


stage_kanboard(){
  :
}

stage_pico(){
  echo "Starting pico backup"

  BACKUP_SERVICE="pico"
  BACKUP_DIRECTORIES=("${PICO_DATA_DIR}")
  borg_create
}

prune_borg(){
  echo $(date)": All Backups - Pruning d14 w4 m6 y* " >> ${ROOT_DIR}/scripts/logs/backups.log
  repos=("nextcloud" "pico")
  for repo in "${repos[@]}"
  do
    sudo -u ${DEFAULT_USER} BORG_PASSPHRASE=${BORG_PASS} borg prune \
     --stats \
     --keep-minutely 5 \
     --keep-daily 7 \
     --keep-weekly 2 \
     --keep-monthly 3 \
     --keep-yearly -1 \
     ${ROOT_DIR}/backups/borg-$repo
  done
  allBackupsSize=$(sudo -u ${DEFAULT_USER} du -hs ${ROOT_DIR}/backups)
  echo $(date)": Total Backup Size $allBackupsSize" >> ${ROOT_DIR}/scripts/logs/backups.log
}

echo $(date)": === TWIO BACKUP SCRIPT STARTED ===" >> ${ROOT_DIR}/scripts/logs/backups.log
stage_nextcloud
stage_pico
prune_borg
cloud_deploy
echo $(date)": === TWIO BACKUP SCRIPT COMPLETE ===" >> ${ROOT_DIR}/scripts/logs/backups.log
